@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Сервер не отвечает</title>
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" href="~/Content/style/Main.css" />
    <style>
        html {
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="serverError">
        <a href="/" class="back"><i class="icon-home-1"></i> Вернуться на сайт</a>
        <img class="joker" src="~/Content/style/images/jokerErr.jpg" />
        <div class="error">
            <div class="dontWork">Сервер не отвечает!!!</div>
            <div class="jokerAnswer">Эммм, я ещё работаю <br /> над этим...</div>
        </div>
    </div>
</body>
</html>
